# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run

# Files from Forge MDK
forge*changelog.txt
.gitignore
.gitattributes
build.gradle
gradle.properties
gradlew
gradlew.bat
settings.gradle

# misc
count_code.bat
.vscode/
/net/
*.log
compile*.txt
build_output.txt
abstractarrow_javap.txt
enchantmenthelper.html
enchantmenthelper_hits.txt
runclient_log.txt
